/*  primary color - 
    Secondary color - 
    Background color -
    Text color - #
    Font family - Merriweather, Roboto
 */

 :root {
    --primary-color: #3D405B;
    --secondary-color: #5C5F75;
    --background-color: #b5b7c2;
    --text-color: #202341;
 }