/*  primary color - 
    Secondary color - 
    Background color -
    Text color - #
    Font family - Merriweather, Roboto
 */

 :root {
    --primary-color: #3D405B;
    --secondary-color: #3d;
    --background-color: ;
    --text-color: ;
 }