/*  primary color - 
    Secondary color - 
    Background color -
    Text color - #
    Font family - Merriweather, Roboto
 */

 :root {
    --primary-color: #cad2c5;
    --secondary-color: #84a98c;
    --accent1-color: #52796f;
    --accent2-color: #354f52;
 }