/*  primary color - 
    Secondary color - 
    Background color -
    Text color - #
    Font family - Merriweather, Roboto
 */

 :root {
    --primary-color: #cad2c5;
    --secondary-color: ;
    --accent1-color: ;
    --accent2-color: ;
 }