/*  primary color - 
    Secondary color - 
    Background color -
    Text color - #
    Font family - Merriweather, Roboto
 */

 :root {
    --primary-color: #888282;
    --secondary-color: #757575;
    --background-color: ;
    --text-color: ;
 }