@media only screen and (min-width: 38rem) {
    header, main, nav, footer{
        max-width: 1300px;
        margin: 0 auto;
    }

    header {
        flex-direction: row;
    }


    #ham-btn, #tog-btn {
        display: none;
    }

     .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        
    }

    .navigation a {
        border: none;
    }

}