@media only screen and (min-width: 38rem) {
    header, main, nav, footer{
        max-width: 100px;
        margin: 0 auto;
    }

    #ham-btn, #tog-btn {
        display: none;
    }

     .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

}