@media only screen and (min-width: 38rem) {
    header, main, nav, footer{
        max-width: 1300px;
        margin: 0 auto;
    }

    header {
        flex-direction: row;
    }


    #ham-btn, #tog-btn {
        display: none;
    }

     .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }


    .navigation a {
        border: none;
    }

    /************************* CONTAINER *************************/

    /* --- Grid View for Members --- */
    #member-container.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    /* --- List View for Members --- */
    #member-container.list section {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        align-items: center;
        text-align: left;
        padding: 0.5rem;
    }

    #member-container.list section img {
        display: none; /* Typical for list view to save space */
    }

    /************************* FOOTER *************************/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: left;
        padding: 2rem 5%;
    }

    .social {
        justify-content: center;
    }

    .footer-info {
        text-align: right;
        border-top: none;
        padding-top: 0;
    }

     .join-container {
        grid-template-columns: 2fr 1fr;
    }

      .discover-grid {
        grid-template-areas: 
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    .discover-grid {
        grid-template-areas: 
            "card1 card1 card2"
            "card3 card4 card4"
            "card5 card6 card7"
            "card8 card8 card8";
    }

    /* Hover Effect (Criterion 13) - Only for large views */
    .card figure img:hover {
        filter: grayscale(100%) sepia(20%);
        transform: scale(1.05);
        transition: 0.3s ease;
    }

}