/* --------- Color Scheme ---------- 
terra cotta #E3735E
deep slate blue #483D8, 
*/

/********************** SITE WIDE *************************/
* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
