/* --------- Color Scheme ---------- 
terra cotta #E0745F
deep slatee blue #3D4058, 
*/

/********************** SITE WIDE *************************/
* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
