/* --------- Color Scheme ---------- 
terra cotta #E2725B
deep slate blue #3D405B, 
*/

/********************** SITE WIDE *************************/
* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/********************* HEADER *********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/********************* HAMBURGER *********************/
.hamburger {
    background-color: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/********************* NAVIGATION *********************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E2725B;
}

/************************ MAIN ************************/
h1 {
    margin-left: 10px;
    color: #3D405B;
}

h2 {
    color: #3D405B;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #ccc;
    border-radius: 10px;
}

main {
    padding: 8px;
}
.main-content {
   display: grid;
   grid-template-columns: 1fr;
   gap: 15px;
   padding: 10px;
}

section {
    border: solid 1px #eee;
    background-color: #ddd;
    border-radius: 12px;
}

section p {
    color: #3D405B;
}

.card {
    margin-bottom: 20px;
}

.card-content {
    padding: 15px;
}

.card img {
    width: 70%;
    max-width: 20px;
    height: auto;
    box-shadow: 0 4px 8px #3D405B;
    border-radius: 8px;
    display: block;
    margin: 55px;
    justify-self: center;
    align-self: center;
}

/************************** FOOTER **************************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}