/* --------- Color Scheme ---------- 
terra cotta #E2725B
deep slate blue #3D4058, 
*/

/********************** SITE WIDE *************************/
* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/********************* HEADER ********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #3D4058;
}

/********************* HAMBURGER NAVIGATION *********************/