@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        
    }


    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }




}